<%# form_for is eine helper methode die automatisch im browser eine Form für uns k %>
<%# @user weiß das er von klasse User ist da alle Ruby Objekte ihre klasse wissen
mit @user.class %>

<%= form_for( @user, url: @user.new_record? ? signup_path : user_path ) do |f|%>

<%# shared/error_messages ist ein partial, shared is eine convention von Rails
für partials die von verschiedenen views benutzt werden %>

  <%= render 'shared/error_messages', object: f.object %>

  <%# z.B. <label for="user_name">Name</label>
  <input id="user_name" name="user[name]" type="text" />   %>
  <%# form-control hat eine bedeutung für bootstrap %>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
